<div id ="errors"></div>
<form>
   <br>
   <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Enter username" autocomplete="off">
  </div>
   <br>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter password" autocomplete="off">
  </div>
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<script src="/scripts/login.js"></script>